x-build-network: &build-network
  network: host

x-networks: &networks
  networks:
    - app_network

x-environment: &environment
  environment:
    BWS_ACCESS_TOKEN: ${BWS_ACCESS_TOKEN?Docker Compose Config Error! BWS_ACCESS_TOKEN is not set!}

x-build-labels: &build-labels
  com.docker.compose.project: ${COMPOSE_PROJECT_NAME:?Docker Compose Config Error! COMPOSE_PROJECT_NAME is not set!}

x-build-args: &build-args
  APP_NAME: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}
  APP_PORT: ${APP_PORT:-8080}
  ENV: ${ENV?Docker Compose Config Error! ENV is not set!}
  APP_URL_FROM_ANYWHERE: ${APP_URL_FROM_ANYWHERE:-}
  LD_SERVER_CONTEXT_KEY: ${LD_SERVER_CONTEXT_KEY?Docker Compose Config Error! LD_SERVER_CONTEXT_KEY is not set!}
  LD_SERVER_CONTEXT_KIND: ${LD_SERVER_CONTEXT_KIND?Docker Compose Config Error! LD_SERVER_CONTEXT_KIND is not set!}
  UNIQUE_RUN_NUMBER: ${UNIQUE_RUN_NUMBER?Docker Compose Config Error! UNIQUE_RUN_NUMBER is not set!}
  UNIQUE_RUNNER_ID: ${UNIQUE_RUNNER_ID?Docker Compose Config Error! UNIQUE_RUNNER_ID is not set!}
  GO_VERSION: ${GO_VERSION?Docker Compose Config Error! GO_VERSION is not set!}
  LOG_LEVEL: ${LOG_LEVEL:-info}
  TARGET_PLATFORM: ${TARGET_PLATFORM:?Docker Compose Config Error! TARGET_PLATFORM is not set!}

services:
  # ----------------------
  # 1) App Service
  # ----------------------
  go-app:
    build:
      context: .
      additional_contexts:
        devops-toolkit: ${DEVOPS_TOOLKIT_PATH?Docker Compose Config Error! DEVOPS_TOOLKIT_PATH is not set!}
        shared: ${SHARED_PATH?Docker Compose Config Error! SHARED_PATH is not set!}
      dockerfile: ${DEVOPS_TOOLKIT_PATH?Docker Compose Config Error! DEVOPS_TOOLKIT_PATH is not set!}/backend/docker/go-app.Dockerfile
      target: app-runner
      <<: *build-network
      args:
        <<: *build-args
      labels:
        <<: *build-labels
        com.docker.compose.service: go-app

      # Have to do this until there is a better option to control this from the compose cli
      platforms:
        - ${TARGET_PLATFORM:?Docker Compose Config Error! TARGET_PLATFORM is not set!}
    image: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}
    container_name: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}_instance
    ports:
      - "${APP_HOST_PORT:-8080}:${APP_PORT:-8080}"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:${APP_PORT:-8080}/health"]
      interval: 5s
      timeout: 2s
      retries: 5
    networks:
      app_network:
        aliases:
          - ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}
    profiles:
      - unassigned
    <<: *environment

  # ----------------------
  # 2) Integration Test Service - Ephemeral
  # ----------------------
  go-app-integration-test:
    build:
      context: .
      additional_contexts:
        devops-toolkit: ${DEVOPS_TOOLKIT_PATH?Docker Compose Config Error! DEVOPS_TOOLKIT_PATH is not set!}
        shared: ${SHARED_PATH?Docker Compose Config Error! SHARED_PATH is not set!}
      dockerfile: ${DEVOPS_TOOLKIT_PATH?Docker Compose Config Error! DEVOPS_TOOLKIT_PATH is not set!}/backend/docker/go-app-test.Dockerfile
      target: integration-test-runner
      <<: *build-network
      args:
        <<: *build-args
        APP_URL_FROM_COMPOSE_NETWORK: ${APP_URL_FROM_COMPOSE_NETWORK?Docker Compose Config Error! APP_URL_FROM_COMPOSE_NETWORK is not set!}
      labels:
        <<: *build-labels
        com.docker.compose.service: go-app-integration-test
    image: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-integration-test
    container_name: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-integration-test_instance
    profiles:
      - unassigned
    <<:
      - *networks
      - *environment

  # TODO: Uncomment when unit tests are implemented
  # ----------------------
  # 3) Unit Test Service - Ephemeral
  # ----------------------
  # go-app-unit-test:
  #   build:
  #     context: .
  #     additional_contexts:
  #       devops-toolkit: ${DEVOPS_TOOLKIT_PATH?Docker Compose Config Error! DEVOPS_TOOLKIT_PATH is not set!}
  #     dockerfile: ${DEVOPS_TOOLKIT_PATH?Docker Compose Config Error! DEVOPS_TOOLKIT_PATH is not set!}/backend/docker/go-app.Dockerfile
  #     target: unit-test-runner
  #     labels:
  #       <<: *build-labels
  #       com.docker.compose.service: go-app-unit-test
  #   <<: *networks
  # TODO: Uncomment when unit tests are implemented
  
  # ----------------------
  # 3) App Service Health Check
  # ----------------------
  go-app-health-check:
    build:
      context: .
      additional_contexts:
        devops-toolkit: ${DEVOPS_TOOLKIT_PATH?Docker Compose Config Error! DEVOPS_TOOLKIT_PATH is not set!}
      dockerfile: ${DEVOPS_TOOLKIT_PATH?Docker Compose Config Error! DEVOPS_TOOLKIT_PATH is not set!}/backend/docker/go-app.Dockerfile
      target: health-check-runner
      <<: *build-network
      args:
        APP_URL_FROM_ANYWHERE: ${APP_URL_FROM_ANYWHERE:-}
      labels:
        <<: *build-labels
        com.docker.compose.service: go-app-health-check
    image: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-health-check
    container_name: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-health-check_instance
    profiles:
      - unassigned
    <<: *networks

networks:
  app_network:
    external: true
    name: ${COMPOSE_NETWORK_NAME?Docker Compose Config Error! COMPOSE_NETWORK_NAME is not set!}

