x-build-network: &build-network
  network: host

x-environment: &environment
  environment:
    BWS_ACCESS_TOKEN: ${BWS_ACCESS_TOKEN?Docker Compose Config Error! BWS_ACCESS_TOKEN is not set!}

x-build-args: &build-args
  APP_NAME: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}
  ENV: ${ENV?Docker Compose Config Error! ENV is not set!}
  STRIPE_CLI_VERSION: 1.25.1

x-build-labels: &build-labels
  com.docker.compose.project: ${COMPOSE_PROJECT_NAME:?Docker Compose Config Error! COMPOSE_PROJECT_NAME is not set!}

services:
  # ----------------------
  # 1) Stripe Listener Service
  # ----------------------
  stripe-listener:
    build:
      context: .
      additional_contexts:
        devops-toolkit: ${DEVOPS_TOOLKIT_PATH?Docker Compose Config Error! DEVOPS_TOOLKIT_PATH is not set!}
      dockerfile: ${DEVOPS_TOOLKIT_PATH?Docker Compose Config Error! DEVOPS_TOOLKIT_PATH is not set!}/backend/docker/stripe.Dockerfile
      target: stripe-listener-runner
      <<: *build-network
      args:
        <<: *build-args
        APP_URL_FROM_COMPOSE_NETWORK: ${APP_URL_FROM_COMPOSE_NETWORK?Docker Compose Config Error! APP_URL_FROM_COMPOSE_NETWORK is not set!}
        STRIPE_WEBHOOK_CONNECTED_EVENTS: ${STRIPE_WEBHOOK_CONNECTED_EVENTS:-}
        STRIPE_WEBHOOK_PLATFORM_EVENTS: ${STRIPE_WEBHOOK_PLATFORM_EVENTS:-}
        STRIPE_WEBHOOK_ROUTE: ${STRIPE_WEBHOOK_ROUTE?Docker Compose Config Error! STRIPE_WEBHOOK_ROUTE is not set!}
      labels:
        <<: *build-labels
        com.docker.compose.service: stripe-listener
    image: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-stripe-listener
    container_name: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-stripe-listener_instance
    networks:
      app_network:
        aliases:
          - ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-stripe-listener
    profiles:
      - unassigned
    <<: *environment

  # ----------------------------------------
  # 2) Stripe Webhook Check Service
  # ----------------------------------------
  stripe-webhook-check:
    build:
      context: .
      additional_contexts:
        devops-toolkit: ${DEVOPS_TOOLKIT_PATH?Docker Compose Config Error! DEVOPS_TOOLKIT_PATH is not set!}
      dockerfile: ${DEVOPS_TOOLKIT_PATH?Docker Compose Config Error! DEVOPS_TOOLKIT_PATH is not set!}/backend/docker/stripe.Dockerfile
      target: stripe-webhook-check-runner
      <<: *build-network
      args:
        <<: *build-args
        APP_URL_FROM_ANYWHERE: ${APP_URL_FROM_ANYWHERE:-}
        STRIPE_WEBHOOK_CHECK_ROUTE: ${STRIPE_WEBHOOK_CHECK_ROUTE?Docker Compose Config Error! STRIPE_WEBHOOK_CHECK_ROUTE is not set!}
        UNIQUE_RUN_NUMBER: ${UNIQUE_RUN_NUMBER?Docker Compose Config Error! UNIQUE_RUN_NUMBER is not set!}
        UNIQUE_RUNNER_ID: ${UNIQUE_RUNNER_ID?Docker Compose Config Error! UNIQUE_RUNNER_ID is not set!}
      labels:
        <<: *build-labels
        com.docker.compose.service: stripe-webhook-check
    image: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-stripe-webhook-check
    container_name: ${APP_NAME?Docker Compose Config Error! APP_NAME is not set!}-stripe-webhook-check_instance
    profiles:
      - unassigned
    networks:
      - app_network
    <<: *environment

networks:
  app_network:
    external: true
    name: ${COMPOSE_NETWORK_NAME?Docker Compose Config Error! COMPOSE_NETWORK_NAME is not set!}
